
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 .nav-buttons{margin-left: 50%;}

 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }

 body{font-family:'Poppins', sans-serif;}

 h1{font-size: 2.5rem;font-weight: 600;}
 h2{font-size: 1.8rem;font-weight: 600;}
 h3{font-size: 1.5rem;font-weight: 800;}
 h4{font-size: 1.2rem;font-weight: 600;}
 h5{font-size: 1rem;font-weight: 400;}
 h6{color:#D8D8D8;}

 button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5 ease;
 }

 button:hover{
    background-color:lightcoral;
 }

 .navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top:0;
    left: 0;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
 }

 .bg-body-tertiary .navbar-nav .nav-link{
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
 }
 
 .bg-body-tertiary .navbar-nav .nav-link:hover,
 .navbar i:hover,
 .bg-body-tertiary .navbar-nav .nav-link.active .navbar i:hover{
    color:lightcoral;
 }

 .navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    /* font-weight: 500; */
    cursor: pointer;
    margin-left: 5px;
 }

 @media only screen and (max-width:990px){
    .nav-buttons{
        margin:10px;
    }
    .nav-buttons ul{
        margin:1rem;
        justify-content: center;
        align-items: center;
    }
    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px; 
             /* top right bottom left */
    }
 }

 #home{
    background-image: url('../imgs/background.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 200px;
    background-position-y: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }

 #home span{
    color: lightcoral;
 }

 #new .one img{
   width:100%;
   height:100%;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 #new .one{
   position:relative;
 }

 #new .one .details{
   position: absolute;
   top:0;
   left:0;
   color:rgb(207, 134, 38);
   font-weight: bold;
   transition: 0.4s ease;
   opacity: 0.5;
   background-color: rgb(1,1,1);
   width: 100%;
   height: 100%;
 }

 #new .one .details:hover{
   background-color: cornsilk;
 }
 #new .one:nth-child(1) .details{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }
 #new .one:nth-child(2) .details{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }
 #new .one:nth-child(3) .details{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

 /* Product */
 .product{
   cursor: pointer;
   margin-bottom: 2rem;
 }

 .product img{
   transition: 0.3s all;
 }

 .product:hover img{
   opacity:0.7;
 }

 .product .buy-btn{
   background-color: lightcoral;
   transform: translateY(50px);
   opacity:0;
   transition: 0.3s all;
 }

 .product:hover .buy-btn{
   transform: translateY(0px); /*when hover change from 50px to 0px */
   opacity: 1;
 }

 hr{
   width: 30px;
   height: 3px !important; /*!important is used to overwrite the original design*/
   opacity: 1 !important;
   background-color: lightcoral;
 }

 .star{
   padding:10px 0;
 }

 .star i{
   font-size: 0.9rem;
   color: goldenrod;

 }
 /*  */
 #banner{
   background-image: url('../imgs/back.jpeg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }

 #banner h1{
   color: #1d1d1d;
 }
 #banner h4{
   color: #222222;
 }
 #banner button{
   background-color: lightcoral;
 }

 #banner button:hover{
   background-color: #1d1d1d;
 }

 footer{
   background-color: #222222;
 }

 footer h5{
   color: #D8D8D8;
   font-weight: 700;
   font-size: 1.2rem;
 }

 footer li{
   padding-bottom: 4px;
 }


 footer li a{
   font-size: 0.8rem;
   color: #999;
   text-decoration: none;
 }

 footer li a:hover{
   color: #D8D8D8;
 }

 footer .copyright a{
   color: #000;
   height: 40px;
   width: 40px;
   background-color: #fff;
   display: inline-block;
   text-align: center;
   line-height: 38px;
   border-radius: 50%;
   transition: 0.3s ease;
   margin: 0 5px;
 }

 footer .copyright a:hover{
   color: #fff;
   background-color: lightcoral;
 }

 footer p{
   color:#fff;
 }

 footer .copyright img{
   width: 30%;
 }

 .logo{
   width: 80px;
   height: 80px;
 }

 .navbar .brand{
   color: lightcoral;
   margin: 3px 5px;
   font-size: 1.5rem;
 }

 .small-img-group{
  display: flex;
  justify-content: space-between;
 }

 .small-img-col{
  flex-basis: 24%;
  cursor: pointer;
 }

 .single_product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
 }

 .single_product input:focus{
  outline: none;
 }

 .single_product .buy-btn{
  background-color: lightcoral;
  opacity: 1;
  transition: 0.4s all;
 }

 .single_product .buy-btn:hover{
  background-color:#222222 ;
 }

 /* Cart */
 .cart table{
  width: 100%;
  border-collapse: collapse;
 }

 .cart .product-info{
  display: flex;
  flex-wrap: wrap;
 }

 .cart th{
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: lightcoral;
 }

 .cart td{
  padding: 10px 20px;
 }

 .cart td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
 }

 .cart td input{
  width: 40px;
  height: 30px;
  padding: 5px;
 }

 .cart td a{
  color: lightcoral;
 }

 .cart .remove-btn{
  color: lightcoral;
  text-decoration: none;
  font-size: 14px;
 }

 .cart .edit-btn{
  color: lightcoral;
  text-decoration: none;
  font-size: 15px;
 }

 .cart .product-info p{
  margin:3px;
 }

 .cart-total{
  display: flex;
  justify-content: flex-end;
 }

 .cart-total table{
  width: 100%;
  max-width: 500px;
  border-top: 3px solid lightcoral;
  height: 100%;
 }

 td:last-child{
  text-align: right;
 }

 th:last-child{
  text-align: right;
 }

 .checkout-container{
  display: flex;
  justify-content: flex-end;
 }

 .checkout-btn{ 
  background-color: lightcoral;
  color: #fff;
 }

 /*Login*/
 #login-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid lightcoral;
 }

 #login-form input{
  width: 50%;
  margin: 5px auto;
 }

 #login-form #login-btn{
  background-color: lightcoral;
  color: #fff;
 }

 #login-form #register-url{
  color: lightsalmon;
  border-color: #fff;
 }

 /*Register*/
 #register-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid lightcoral;
 }

 #register-form input{
  width: 50%;
  margin: 5px auto;
 }

 #register-form #register-btn{
  background-color: lightcoral;
  color: #fff;
 }

 #register-form #login-url{
  color: lightsalmon;
  border-color: #fff;
 }

 /*Account*/
 #account-form{
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
 }

 #account-form input{
  margin: 5px auto;
 }

 #account-form #change-pass-btn{
  background-color: lightcoral;
  color: #fff;
 }

 .account-info #order-btn, #logout-btn{
  color: lightcoral;
  text-decoration: none;
 }

 /*Orders*/
 .orders table{
  width: 100%;
  border-collapse: collapse;
 }

 .orders .product-info{
  display: flex;
  flex-wrap:wrap;
 }

 .orders th{
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: lightcoral;
 }

 .orders th:nth-child(2){
  text-align: right;
 }
 .orders td{
  padding: 10px 20px;
 }

 .orders td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
 }


 /*Checkout*/
 #checkout-form .checkout-small-element{
  display: inline-block;
  width: 48%;
  margin: 10px auto;
 }

 #checkout-form .checkout-large-element{
  width: 96.5%;
 }

 #checkout-form .checkout-btn-container{
  margin: 10px;
  text-align: right;
  margin-right: 40px;
 }

 #checkout-form #checkout-btn{
  color: #fff;
  background-color: lightcoral;
 }

 /*Contact*/
 #contact span{
  color: lightcoral;
 }